body {
    font: normal 20px  arial;
    text-align: center;
}


.tic-tac-toe .board td.X {
    color: blue;
}

.tic-tac-toe .board td.O {
    color: #FF1010;
}

.tic-tac-toe .board table {
    border: 5px solid gray;
    border-spacing: 0px;
    border-collapse: separate;
    margin: 30px auto;
}

.tic-tac-toe .board td {
    border: 5px solid gray;
    text-align: center;
    font: 200 65px arial; 
    height: 100px;
    width: 100px;
    cursor: crosshair;
   
}


